// colors
$white: #fff;
$black: #000;
$grey: #CCCC;
$primary-color: #f5f5f5;
$secondary-color: #FFDF58;
$third-color: #00AD40;
$forth-color: #004AAD;

//fonts
$poppins: 'Poppins';
$montserra: 'Montserrat';

//font-size

$xs : 0.775rem;
$sm : 1rem;
$m : 1.5rem;
$l : 2rem;
$xl: 2.5rem;
$xxl: 3rem;

//font-weight

$thin : 200;
$normal: 400;
$semi-bold: 600;
$bold: 800;
